<div class="rightCol">
<h1>Listing tags <%= link_to "#{@feature.title}", admin_feature_path(@feature) %> </h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @feature.tags.each do |tag| %>
  <tr>
    <td><%=h tag.name %></td>
      </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_admin_feature_path(@feature, :ref => "tags") %>
</div>


