<% content_for :stylesheets do %>
  #leftCol {display: none}
<% end -%>

<div class="rightCol">
<p>
  <b>Name:</b>
  <%=h @producer.name %>
</p>

<div>
  <p>Bio</p>
  <%= @producer.bio %>
</div>

<%= link_to 'Edit', edit_admin_producer_path(@producer) %> |
<%= link_to 'Back', admin_producers_path %>
</div>    