 <%= render :partial => "shared/small_menu" %>

 <ul id="address">
   <li>Third Coast Festival</li>
   <li>Navy Pier</li>
   <li>848 East Grand</li>
   <li>Chicago, Illinois</li>
   <li>60611-3509</li>
 </ul>
 <ul id="sub_address">
   <li>312-948-4682</li>
   <li><%= mail_to 'info@thirdcoastfestival.org'%></li>  
 </ul>
