<%
popup_id = "" 
suffix = rand(2)
if suffix == 1
  popup_id = "-2"
end
%>

<div id='page-cover'>
	<div id='donate-popup<%= popup_id %>'>
		<h1>HELP US HELP YOU…
      HEAR THE BEST RADIO STORIES IN THE WORLD!</h1>
		<h2>Make a tax-deductible gift today!</h2>
		<p class='body'>
      Your donation to the Third Coast International Audio Festival makes it possible for us to share creative and compelling radio stories with listeners across the globe, and to champion the ever-growing community of producers who bring this incredible work our way.</p> 
      <p class="donate-now">
        <a href='https://npo.networkforgood.org/Donate/Donate.aspx?npoSubscriptionId=1001906&uniqueID=634049457510820675'></a>
      </p> 
		<p class='close'>
      <a href='#'>Close</a>
    </p>
	</div>
</div>
