<li class="month_link"><%= link_to "Previous month", other_month_url(:prev), :class=>'calendar_month_link' %></li>
<li class="month_link"><%= link_to "Next month", other_month_url(:next), :class=>'calendar_month_link' %></li>
