<% content_for :stylesheets do %>
  #leftCol {display: none}
<% end -%>

<div class="rightCol">
<table>

<% @tags.each do |tag| %>
  <tr>
    <td><%= link_to "#{tag.name}", admin_tag_path(tag) %></td>
    <td><%= link_to 'Edit', edit_admin_tag_path(tag) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tag', new_admin_tag_path %>
</div>    
