<div class="rightCol">
<h1>New News item</h1>

<% form_for([:admin,@news_item]) do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <p><%= form.submit 'Create' %></p>
<% end %>

<p><%= link_to 'Back', admin_news_items_path %></p>
</div>